﻿html {
    font-family: 'Segoe UI';
    padding: 0;
    margin: 0;
}

.header {
    background: black;
    width: 100%;
    height: 80px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-img {
    width: 50px;
    height: 50px;
}

.logo-text {
    color: white;
    display: inline-block;
    margin-left: 10px;
    font-size: 18px;
}

.logo-text-bold {
    font-weight: 600;
}

.logout-button {
    margin-top: 7px;
    float: right;
}

.nav-wrapper {
    padding: 0px;
    text-align: center;
    background-color: #333;
}

.navig-bar {
    width: 500px;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    text-align: center;
    display: block;
}

.navig-bar li {
    float: left;
}

    .navig-bar li a {
        display: block;
        color: white;
        text-align: center;
        padding: 10px 20px;
        text-decoration: none;
        font-weight: 100;
        color: white;
        font-size: 14px;
    }

/* Change the link color to #111 (black) on hover */
        .navig-bar li a:hover {
            background-color: darkgray;
        }

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #e4bc59;
}

.form-default{
    width: 700px;
    margin: 30px auto;
}

.default-button {
    float: left;
    margin-bottom: 15px;
    margin-right: 5px;
}

.edit-section{
    text-align: right;
}

.details-default{
    width: 320px;
    margin: 50px auto;
    display: block;
}

.edit-button-details{
    margin: 100px auto;
    display: block;
    width: 200px;
}

#report-block {
    height: 100px;
    padding-top: 20px;
    display: none;
}