﻿*{
    font-family: 'Segoe UI';
}

body {
    background-image: url("img/bg.jpg");
    color: black;
}

.header{
    background: black;
    width: 100%;
    height: 80px;
}

h3{
    margin-top: 10px;
}

.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo-img{
    width: 50px;
    height: 50px;
}

.logo-text{
    color: white;
    display:inline-block;
    margin-left: 10px;
    font-size: 18px;
}

.logo-text-bold {
    font-weight: 600;
}

.login-form {
    background-color: white;
    float: none;
    margin: 50px auto;
    width: 400px;
    height: auto;
    margin: 0, auto;
    border: 1px solid grey;
    border-radius: 8px;
    padding: 20px;
}