﻿@model VisitorRegisrationSystemServer.Models.ReportEntity

@using (Html.BeginForm("GenerateReport", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-md-offset-1"></div>

    @Html.LabelFor(model => model.StartDate, htmlAttributes: new { @class = "control-label col-md-2" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.StartDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.StartDate, "", new { @class = "text-danger" })
    </div>

    @Html.LabelFor(model => model.EndDate, htmlAttributes: new { @class = "control-label col-md-1" })
    <div class="col-md-3">
        @Html.EditorFor(model => model.EndDate, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.EndDate, "", new { @class = "text-danger" })
    </div>

    <div class="col-md-2" style="text-align:center;">
        <input type="submit" value="Generate Report" class="btn btn-primary" />
    </div>
</div>
}
