﻿@model VisitorRegisrationSystemServer.Models.AppontmentViewModel

@{
    ViewBag.Title = "Visitor Registration System | Details about " + Model.Number;
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details about @Model.Number Appointment</h2>

<hr />

<div>
    <dl class="dl-horizontal details-default">
        <dt>
            @Html.DisplayNameFor(model => model.Number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TimeOfVisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeOfVisit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VisitorLastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VisitorLastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>
    </dl>
</div>
@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "EditAppointment", new { id = Model.Id } , new { @class = "btn btn-primary edit-button-details" })
    </p>
}

