﻿@model VisitorRegisrationSystemServer.Models.AdminViewModel

@{
    ViewBag.Title = "Visitor Registration System | Details about " + Model.Login;
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details about @Model.Login</h2>

<hr />

<div>
    <dl class="dl-horizontal details-default">
        <dt>
            @Html.DisplayNameFor(model => model.Login)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Login)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

    </dl>
</div>

@if (User.IsInRole("Admin"))
{
    <p>
        @Html.ActionLink("Edit", "EditAdmin", new { id = Model.Id }, new { @class = "btn btn-primary edit-button-details" })
    </p>
}