﻿@model VisitorRegisrationSystemServer.Models.VisitorViewModel

@{
    ViewBag.Title = "Visitor Registration System | Details about " + Model.Name + " " + Model.LastName;
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Details about @Model.Name @Model.LastName</h2>

<hr />

<div>
    <dl class="dl-horizontal details-default">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ArrivingTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivingTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartureTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BadgeNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BadgeNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

    </dl>
</div>

@Html.ActionLink("Edit", "EditVisitor", new { id = Model.Id }, new { @class = "btn btn-primary edit-button-details" })
