﻿@model IEnumerable<VisitorRegisrationSystemServer.Models.EmployeeViewModel>

@{
    ViewBag.Title = "Visitor Registration System | Employee List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Employee List</h2>

@Html.ActionLink("Create new Employee", "CreateEmployee", null, new { @class = "btn btn-primary default-button" })

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PhotoPath)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhotoPath)
            </td>
            <td class="edit-section">
                @Html.ActionLink("Edit", "EditEmployee", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsEployee", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteEmployee", new { id = item.Id })
            </td>
        </tr>
    }

</table>
