﻿@model VisitorRegisrationSystemServer.Models.Login.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/login.css" />
    <title>Visitor Registration System | Admin Panel</title>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 header">
                <div class="col-md-4 logo">
                    <img class="logo-img" src="~/Content/img/ico/browser.png"/>
                    <span class="logo-text">Visitor <span class="logo-text-bold">Registration System</span></span>
                </div>
                <div class="col-md-8"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 content">
                <div class="login-form">
                    @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        <h3>Admin Panel</h3>
                        <hr />
                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Login, new { @class = "control-label" })
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;">
                                @Html.TextBoxFor(m => m.Login, new { @class = "form-control", @placeholder = "Enter Login" })
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.Login, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                            </div>
                            <div class="col-md-12" style="margin-top: 10px;">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Enter Password" })
                            </div>
                            <div class="col-md-12">
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12" style="margin-top: 10px;">
                                <input type="submit" class="btn btn-primary col-md-12" value="Login" />
                            </div>
                        </div>
                    }

                </div>
            </div>
        </div>

    </div>

</body>
</html>
