﻿@using VisitorRegisrationSystemServer.Models
@model IEnumerable<VisitorRegisrationSystemServer.Models.AppointmentViewModelPanel>

@{
    ViewBag.Title = "Visitor Registration System | Appointments List";
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<h2>Appointments List</h2>

<a class="btn btn-primary default-button" onclick="showReportBlockFunction()" href="#">Generate Report</a>
@Html.ActionLink("Create Appoinment", "CreateAppoinment", null, new { @class = "btn btn-primary default-button" })

<div class="col-md-12" id="report-block">
    @Html.Partial("_ReportPartialView", new ReportEntity() { StartDate = DateTime.Now.AddDays(-1).ToString("MM/dd/yyyy h:mm tt"), EndDate = DateTime.Now.ToString("MM/dd/yyyy h:mm tt") })
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VisitorBadge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TimeOfVisit)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DepartureTime)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Number)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitorBadge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EmployeeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TimeOfVisit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureTime)
            </td>
            <td class="edit-section">
                @Html.ActionLink("Edit", "EditAppointment", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsAppointment", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteAppointment", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@section Scripts
{

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">

        function showReportBlockFunction() {
            let block = document.getElementById("report-block").style.display;

            if (block == "block") {
                document.getElementById("report-block").style.display = "none";
            } else {
                document.getElementById("report-block").style.display = "block";
            }
        }

    </script>
}